//
// variables.scss
//

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Merriweather:wght@700;900&display=swap");

// Color
$white: #ffffff;

$primary: #7c3aed;
$secondary: #005b82;
$success: #2eca8b;
$warning: #f59e0b;
$info: #17a2b8;
$danger: #e43f52;
$dark: #21172d;
$black: #05030a;
$muted: #766a86;
$light: #f7f2ff;

// Gray
$gray-100: #f8f9fa;
$gray-200: #dadada;
$gray-300: #cccccc;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;

// Overlay
$overlay: rgba($dark, 0.7);
$gradident-overlay: rgba($primary, 0.6);
$bg-overlay-white: rgba($white, 0.5);

//Body Background
$shadow: 0 0 3px rgba($dark, 0.15);
$shadow-md: 0 5px 13px rgba($dark, 0.2);
$shadow-lg: 0 10px 25px rgba($dark, 0.15);
$footer: lighten($black, 6%);

// Base font
$font-size-base: 16px;

$font-family-base: "Inter", sans-serif;
$font-family-secondary: "Merriweather", serif;

//Color Picker/Switcher
$default: #2f55d4;
$green: #6dc77a;
$red: #ff5b69;
$purple: #7952b3;
$skyblue: #32c2ec;
$skobleoff: #0f7173;
$cyan: #00c9a7;
$slateblue: #766df4;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "danger": $danger,
  "dark": $dark,
  "muted": $muted,
  "light": $light,
  "blue": $primary,
  "footer": $footer,
);

$ph-bg: $white !default;
$ph-color: $muted !default;
$ph-border-radius: 2px !default;

$ph-gutter: 30px !default;
$ph-spacer: 15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: 0.8s !default;
